.container-confirmação-form {
	margin-top: 200px;
	margin-bottom: 200px;
	height: 350px;
	max-height: 500px;
	background: #5E997A;
}

.form-confirmação {
	padding: 60px;
	text-align: right;
}

.form-confirmação fieldset {
	max-height: 100%;
	height: 100%;
	text-align: center;
	background: #ffffff;
	border: solid 2px #80bf9e;
}

.form-confirmação fieldset p {
	font-size: 16px;
}

.confirmação-form-input {
	width: 60%;
	margin: 10px;
	font-size: 18px;
	background: #e1f2e9;
}
.confirmação-form-subtitle {
	padding: 10px;
	font-size: 18px;
}


.btn-form-login-entrar {
	margin-top: 30px;
	font-size: 24px;
	border: none;
	background: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	color: #234232;
	border-radius: 15px;
}

.confirmação-form-reenviar {
	color: #ff0000;
}

@media only screen and (min-width: 768px) {
	.container-confirmação-form {
		height: 400px;
	}
	.confirmação-form-input {
		width: 80%;
		font-size: 24px;
	}
	.confirmação-form-subtitle {
		font-size: 24px;
	}
}

@media only screen and (min-width: 908px) {
	.confirmação-form-input {
		font-size: 28px;
		width: 50%;
	}
	.confirmação-form-subtitle {
		font-size: 28px;
	}
	.form-confirmação fieldset p {
		font-size: 20px;
	}
}

@media only screen and (min-width: 1045px) {
	.confirmação-form-input {
		width: 30%;
	}
}