.container-body{
    font-family: Arial, Helvetica, sans-serif;
}

.container-title{
    text-align: center;
    color: #000000;
    font: 1.7rem Arial;
    font-weight: 700;
    text-transform: uppercase;
}

.container-subtitle{
    text-align: center;
    color: #000000;
    font: Arial;
}

.container-content{
    background-color: #EEEEEE;
    padding: 10px 5vw;
}

.container-form{
    width: 100%;
    margin: auto;
}

.form-item{
    background-color: #5E997A;
    color: #EEEEEE;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

.form-item textarea,
.form-item input{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font: 1.2rem Arial;
    width: 100%;
    box-sizing: border-box;
}

.form-item input:focus, 
.form-item textarea:focus{
    outline: none;
}


.form-item textarea{
    height: 150px;
}

.form-item label{
    font-weight: 700;
    padding-bottom: 5px;
    font: 1.2rem Arial;
    display: block;
}

.container-form-submit {
    display: block;
    box-sizing: border-box;

    width: 100%;
    padding: 5px;
    font: 1.4rem Arial;
}

@media only screen and (min-width: 768px) {
    .container-form-submit{
        width: 33%;
    }

    .container-form{
        width: 70%;
    }
}

@media only screen and (min-width: 1024px) {
    .container-row-item1,
    .container-row-item2,
    .container-row-item3{
        width: 33%;
        display: inline-block;
    }
    .container-row-item2{
        margin: 0px 0.5%;
    }
    .container-form{
        width: 60%;
    }
}

@media only screen and (min-width: 1980px) {
    .container-form{
        width: 50%;
    }
}
