.container-footer {
	text-align: center;
	width: 90%;
	max-width: 100%;
}

.container-footer div {
	width: 100%;
	max-width: 100%;
}

.container-footer div ul li a {
	color: #000000;
	font-size: 20px;
}

.container-footer-mark {
	font-size: 26px;
}

@media only screen and (min-width: 768px) {
	.container-footer {width: 100%;}
	.container-footer div {
		display: inline-block;
		width: 200px;
		text-align: center;
		margin: 10px;
	}
	.container-footer div ul li {
		font-size: 22px;
	}
	.container-footer div ul li a {font-size: 24px;}
}