* {font-family: sans-serif;}

.container-banner {
	background: url(../images/banners/lights_out.jpg) no-repeat center center;
	background-size: cover;
	color: #ffffff;
	text-align: center;
	height: 500px;
}

.banner-title {
	padding: 50px;
}

.highlight-content-logo {
	text-align: center;
	padding: 50px;
	margin-bottom: 20px;
}

.container-highlight {
	background: #5E997A;
	margin-top: -40px;
}

.highlight-services {
	text-align: center;
	width: 100%;
	max-width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #ffffff;
}

.highlight-title {
	text-align: center;
	font-size: 26px;
	color: #ffffff;
	padding: 5px 0px 0px 15px;
	border-bottom: solid 1px #ffffff;
}

.highlight-text {
	padding: 0px 5px 0px 5px;
	font-size: 18px;
	text-align: center;
	color: #ffffff;
	border-bottom: solid 1px #ffffff;
}

.highlight-services div a img {
	max-width: 60px;
}

.highlight-services div p{
	font-size: 18px;
}


@media only screen and (min-width: 768px) {
	.banner-title-insight {
		font-size: 54px;
	}
	.banner-title-subtitle {
		font-size: 34px;
	}
	.banner-title-legenda {
		font-size: 24px;
	}
	.highlight-title {
		font-size: 34px;
	}
	.highlight-text {
		font-size: 24px;
	}
	.highlight-services div {
		display: inline-block;
		margin: 30px;
	}
	.highlight-services div a img {
		max-width: 100px;
	}
	.highlight-services div p {
		font-size: 24px;
	}
}


@media only screen and (min-width: 1042px) {
	.banner-title-insight {
		font-size: 54px;
	}
	.banner-title-subtitle {
		font-size: 34px;
	}
	.banner-title-legenda {
		font-size: 24px;
	}
	.highlight-title {
		font-size: 54px;
	}
	.highlight-text {
		font-size: 34px;
	}
	.highlight-services div {
		display: inline-block;
		margin: 30px;
	}
	.highlight-services div a img {
		width: 200px;
		max-width: 300px;
	}
	.highlight-services div p {
		font-size: 34px;
	}
}